/* CSS Document */
/* 01 - General Styles & Typography
/* ------------------------------------------ */

body,
html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7a7c82;
    margin-top: 25px;
}

@media (min-width: 768px) {
    body {
        margin-top: 65px;
    }
}
/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
    margin-top: 0px;
    font-weight: 600;
}

h1,
h2 {
    color: #FF5800;
}

h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font-size: 24px;
    line-height: 55px;
}

h2 {
    font-size: 22px;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    line-height: 20px;
}

h4 {
    font-size: 17px;
    line-height: 14px;
}

h5 {
    font-size: 16px;
    line-height: 12px;
}

h6 {
    font-size: 14px;
    line-height: 10px;
}

p {
    font-size: 14px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7a7c82;
    font-weight: 400;
    margin-bottom: 15px;
}

span {
    color: #FF5800;
}

a {
    color: #FF5800;
}

a:hover,
a:focus {
    color: #c84600;
    text-decoration: none;
    outline: none
}

/* Titles */

.title-section {
    font-size: 42px;
}

.title-regular {
    font-weight: 500;
    color: #333;
}

.title-underline {
    height: 3px;
    width: 70px;
    background-color: #ff5800;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
}

/* Alternate Text-Styles */

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}


/* 02 -  (Bootstrap) Components
/* ------------------------------------------ */
/* Buttons */

.btn-primary {
    background-color: #FF5800;
    border-color: #c84600;
    color: #FFF;
    outline: none;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    cursor: pointer;
    outline: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

.btn-default {
    background-color: #FF5800;
    border-color: #c84600;
    color: #FFF;
    outline: none;
}

.btn-default:focus,
.btn-default.focus {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    cursor: pointer;
    outline: none;
}

.btn-default:hover {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    padding: 3px 5px;
}

.btn-link {
    color: #FF5800;
}
/* 03 - General Section Stylings
/* ------------------------------------------ */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.divider {
    margin: 0;
    border-top: 1px solid #eee;
}

.page-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 130px 0;
}

.section-grey {
    background-color: #eee;
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
}

.page-section-no-padding {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}


/* Margins */
.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

/* Generalized Paddings for smaller Sections */

.padding-30 {
    padding: 30px 0;
}

.padding-60 {
    padding: 60px 0;
}

@media (max-width: 991px) {
    .container-fluid,
    .row {
        margin: 0;
        padding: 0;
    }
}


/* 04 - Navbar-Header, Navigation, Logo
/* ------------------------------------------ */


/* Logo (change width here) */
.logo{
    max-width: 125px;
    height: auto;
}
/* Navbar */

@media(min-width:768px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-nav {
    margin-top: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: initial;
    color: #FF5800;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF5800;
}

.navbar-default .navbar-nav > li > a {
    color: #7a7c82;
    font-size: 18px;
    font-weight: 600;
    margin: 4px 4px;
}


/* 05 - Headers
/* ------------------------------------------ */

/* Hero Header */

.hero-header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

.hero-header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

.hero-header .intro-text .intro-lead-in {
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

.hero-header .intro-text .intro-heading {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .hero-header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    .hero-header .intro-text .intro-lead-in {
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .hero-header .intro-text .intro-heading {
        font-weight: 700;
        font-family: arial;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
/* 08_01 - Call to Action
-------------------------------------------------- */

.cta {
    padding: 20px 15px;
}

.cta p{
    margin: 0 0 15px 0;
    text-align: center;
}

.cta-button {
    margin: 5px 0;
    text-align: center;
}

.cta-button a {
    margin-right: 15px;
}

.cta-primary .btn-primary {
    background-color: #fff;
    border-color: #c84600;
    color: #ff5800;
    outline: none;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    cursor: pointer;
    outline: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

.btn-primary:active,
{
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
 {
    color: #fff;
    background-color: #c84600;
    border-color: #FF5800;
    outline: none;
}

@media (min-width: 992px) {
    .cta p
    {
        text-align: left;
        margin: 0;
    }
    .cta-button {
        text-align: right
    }
}
/* 08_02 - Intro
-------------------------------------------------- */

.intro .fa {
    display: block;
    font-size: 42px;
    color: #ff5800;
}

.intro label {
    font-size: 18px;
    margin: 0;
}

.intro label strong {
    font-size: 52px;
}
/* 08_03 - Footer
-------------------------------------------------- */

footer {
    background-color: #222;
    padding: 60px 0;
}

footer p {
    color: #fff;
}

footer a {
    color: #fff;
}

footer ul {
    padding: 0;
}

.footer-logo {
    width: 70px;
    margin-bottom: 30px;
}

.footer-menu h4 {
    color: #fff;
    margin-bottom: 30px;
}

.footer-menu ul li {
    list-style: none;
    padding: 0 0 10px 0;
}

footer a:visited,
footer a:link,
footer a:active,
footer a:hover {
    text-decoration: none;
}
footer .col-md-3 {
    margin-bottom: 35px;
}